html { height:100%;}
body { height:97%;}
.FW  {
	position:absolute;
	width: 40px;
	background-color: #fafafa;
    margin:0.1%;
}
.LB  {
	position:absolute;
	width: 50px;
	background-color: #fafafa;
    margin:0.1%;   
}
.Router {
	position:absolute;
	width: 50px;
	background-color: #fafafa;
    margin:0.1%;
}
.Switch {
	position:absolute;
	width: 50px;
	background-color: #fafafa;
    margin:0.1%;
}
.vSwitch {
	position:absolute;
	width: 30px;
	background-color: #fafafa;
               margin:0.1%;
}
.VM{
	position:absolute;
	width: 50px;
	background-color: #fafafa;
    margin:0.1%;
}
.host{
	position:absolute;
	/*width: 50px;*/
	background-color: #fafafa;
    margin:0.1%;
}
#mainbody{
	margin-top: 0px;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	width: 95%;
	height:1000px;

}
.navbar-mininet {
height : 50px;
}
#mininet-container {
        position:absolute;
		left:auto;
		float:right;
		margin-top:auto;
		margin-right:auto;
		width: 95%;
		height: 95%;
		background:#fafafa;
	    overflow:auto;	
}
.virtual_topology_area{
	position:absolute;
        left:auto;
        float:right;
        margin-top:auto;
        margin-right:auto;
        width: 95%;
        height: 65%;
        background:#fafafa;
        overflow:auto;
	


}
#cpu_band_table{
	position:absolute;
	right:0px;
	width:300px;
	height:600px;
 	display:none;
        overflow:auto;
	text-align:center;
 	background:rgb(171, 232, 202);
}	  
.title {
	  font:1px;
	  text-align:center;
	  cursor: pointer;
	  color:#7B7B7B;
}
.connect {
	  width: 100%;
	  height: 20px;
	  cursor: pointer;
}
.ConnectionLabel {
	color: blue;
}
#actionList {
	position: absolute;
    right: 0;
    float: right;
    margin: 0 auto;
}
.orderList_style{
      color:#777;
}

#orderList{
     position:absolute;
     right:20px;
     float:left;
     width:20%;
     height:600px;
     margin-top:auto;
     margin-right:auto;
     overflow:auto:
     background:white;
}
#orderList_title{
     padding-top:8px;
     position:absolute;
     float:left;
	 width:100%;
     height:40px;
     background:#fafafa; 
     text-align:center;
     font-weight:bold;
     font-size:15px;
}
#orderList_info_title{
    position:absolute;
	float:left;
	width:100%;
    margin-top: 60px;
    height:40px;
    background:#fafafa;	
    text-align:center;
    font-size:15px;
 	font-weight:bold;
    padding: 10px;
    border-bottom: solid 1px #ddd;

}
#orderList_info_list{
	position:absolute;
	margin-top:100px;
	width:100%;
	height:500px;
    background:#fafafa;
    padding-top:20px;
}
.orderList-items-name{
    font-size:15px;
}
#orderAction{
	position:absolute;
    font-size:15px;
    bottom:30px;
    padding-bottom:100px;
    padding-left:40px;
}
#orderCost{
	position:absolute;
  	font-size:25px;
	bottom:30px;
	padding-bottom:100px;
    padding-left:150px;
}
#orderSubmit{
	position:absolute;
    bottom:30px;
    left:40px;
}
.nodetext{
	fill:#7B7B7B;
}

#controller{
	padding-top: 12px;
}
#controller_ip {
	border-radius: 8px;
}
.tooltip{
    width: auto;
    height: auto;
    position: absolute;
    /*border-style: solid;*/
    border-color:#FFFFF0;
    padding:5px 10px;
    border-width: 1px;
    background-color: #FFFFF0;
    border-radius: 5px;
}

/*.alert{
	position: fixed;
	width: 30px;
	margin-right: -200px;
	margin-top:50px;
	color:black;
}*/