{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "VirtualNetwork" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("VirtualNetwork") %} 
{% endblock page_header %}

{% load staticfiles %}


{% block main %}
<noscript>
{% trans "This pane needs javascript support." %}
</noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OpenVirtex</title>
      <!--<link rel="stylesheet" type="text/css" href="{% static 'virtualnetwork/bootstrap.min.css' %}">-->
      <link rel="stylesheet" type="text/css" href="{% static 'virtualnetwork/openVirtex.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'virtualnetwork/jquery.contextMenu.css' %}" />
      <!--<link rel="stylesheet" type="text/css" href="{% static 'virtualnetwork/screen.css' %}"/>-->
      <link rel="stylesheet" type="text/css" href="{% static 'virtualnetwork/prettify.sunburst.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'toastr-master/build/toastr.css' %}"/>

      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
      
      <script type="text/javascript" src="{% static 'virtualnetwork/html5shiv.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/respond.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/jquery.jsPlumb-1.6.4.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/jquery-ui.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/prettify.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/jquery.ui.position.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/jquery.contextMenu.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/screen.js' %}"></script>
      <script type="text/javascript" src="{% static 'toastr-master/toastr.js' %}"></script>

      <script type="text/javascript" src="{% static 'virtualnetwork/openvirtex_virtual.js' %}"></script>
      <script type="text/javascript" src="{% static 'virtualnetwork/d3.v3.min.js' %}"></script>

<div id="mainbody">
      <!-- 导航栏操作菜单 -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li id="initVirtual"><a href="#">初始化虚拟拓扑</a></li>
                <li id="removeVirtual"><a href="#">删除虚拟网络</a></li>
                <!-- <li id="getVirtual"><a href="#">获取当前虚拟网络</a></li> -->
                <li id="testBand"><a href="#">已用带宽</a></li>
                <li id="testDelay"><a href="#">时延</a></li>
                <li id="selectLinks"><a href="#">选路</a></li>
                <li id="clean"><a href="#">清空</a><li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

  <div id="mininet-container">
  </div><!--end of mininetcontainer-->
</div><!--end of mainbody-->

 {% endblock %}
